{% extends 'base.html' %}
{% block head %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Главная</title>
    <link rel="icon" type="image/x-icon" href="./static/images/dest/Mili_Logo.ico">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/app.min.css">
</head>
{% endblock %}
{% block content %}
<body>
<div class="header">
    <div class="header__container">
        <ul class="header__ul">
            <li class="header__li"><a href="index.html" class="active">Главная</a></li>
            <li class="header__li"><a href="blog.html">Блог</a></li>
            <li class="header__li"><a href="works.html">Альбомы</a></li>
            <li class="header__li"><a href="lyrics.html">Поиск песни</a></li>
            {% include 'AuthButton.html' %}
        </ul>
        <img class="header__menu-btn" src="/static/images/dest/menu.svg" alt="menu">
        <div class="header__menu">
            <ul>
                <li><a href="index.html" class="active">Главная</a></li>
                <li><a href="blog.html">Блог</a></li>
                <li><a href="works.html">Альбомы</a></li>
                <li><a href="lyrics.html">Поиск песни</a></li>
                {% include 'AuthButtonForMenu.html' %}
            </ul>
            <img class="close-btn" src="/static/images/dest/close.svg" alt="close">
        </div>
    </div>
</div>
<div class="main wrap-1">
    <div class="main-left">
        <h1>
            Это вебсайт-блог Mili <br>Японская инди-группа</h1>
        <p>Mili - японская музыкальная инди-группа, основанная в августе 2012 года, состоящая из Кэсси Вэй, Ямато Касаи, Юки Хитоми, Шото Йошиды и Ао Фухимори. Mili охватывает электронную классику, современную классику и постклассические жанры музыки и не ограничивается песнями на японском, но также на английском, китайском и французском языках.</p>
        <button onclick="location.href='http://projectmili.com';">Официальный сайт</button>
    </div>
    <div class="main-right">
        <div class="avatar"></div>
    </div>
</div>
<div class="recent">
    <div class="recent__container wrap-1">
        <p class="block-name">Последнее <a href="blog.html">Показать всё</a></p>
        <div class="recent__block">
            <div class="recent__block-left">
                <h3><a href="AX2021.html">Концерт в Лос Анджелесе на Anime Expo 2021</a></h3>
                <p class="time">02 Июля 2021 | Америка, Лос-Анджелес</p>
                <p class="block-text">На фестивале AnimeExpo будут выступать Cö shu Nie известные по аниме "Токийские мстители" и "Токийский Гуль", а также Mili известные по по "Призрак в доспехах", "Убийца гоблинов". </p>
            </div>
            <div class="recent__block-right">
                <h3><a href="pyrcone.html">Концерт в Польше на Pyrkon 2021  </a></h3>
                <p class="time">17 июня 2021 | Польша, Познань</p>
                <p class="block-text">Pyrkon 2021 - ежегодный фестиваль поп культуры в Познани, на который приглашают не мало интересных групп большого спектра жанров. И в этом году Mili выступали там тоже!</p>
            </div>
        </div>
    </div>
</div>
<div class="featured wrap-1">
    <p class="block-name">Альбомы</p>
    <div class="featured__blocks">
        <div class="featured__block">
    <meta name="viewport" content="width=device-width">
            <a href="key-ing.html" class="featured__image-a"><img src="/static/images/dest/featured-1.jpg" class="featured__image"></a>
            <div class="featured__text__block">
                <h2><a href="key-ing.html">Key Ingredient</a></h2>
                <div class="info">
                    <p class="year">2020</p>
                    <p class="theme"><a>Альбом</a></p>
                </div>
                <p class="text">Один из последних альбомов, включает в себя 13
                    лучших песен с прошлых альбомов, исполненными дуэтом вокала и фортепиано. Также имеет полную инструментальную версию. </p>
            </div>
        </div>
        <div class="featured__block">
            <a href="miracle.html" class="featured__image-a"><img src="/static/images/dest/featured-2.jpg" class="featured__image"></a>
            <div class="featured__text__block">
                <h2><a href="miracle.html">Miracle Milk</a></h2>
                <div class="info">
                    <p class="year">2016</p>
                    <p class="theme"><a>Альбом</a></p>
                </div>
                <p class="text">Второй альбом Mili, выпущенный 12 октября 2016 года. Он содержит 18 песен и одну секретную песню. Ограниченное
                    премиум издание включает в себя 18 оригинальных художественно оформленных иллюстрированных открыток с текстами песен, на которых изображен волшебный мир Mili.</p>
            </div>
        </div>
        <div class="featured__block">
            <a href="library.html" class="featured__image-a"><img src="/static/images/dest/featured-3.jpg" class="featured__image"></a>
            <div class="featured__text__block">
                <h2><a href="library.html">To Kill A Living Book</a></h2>
                <div class="info">
                    <p class="year">2021</p>
                    <p class="theme"><a>Игра</a></p>
                </div>
                <p class="text">Музыку из игры написали и исполнили Mili. To Kill A Living Book — альбом, выпущенный 29 октября 2021 года. Большинство песен написаны для видеоигры Library of Ruina.</p>
            </div>
        </div>
    </div>
</div>
<div class="footer wrap-1">
    <div class="footer__social">
        <a href="https://www.last.fm/ru/music/Mili">A</a>
        <a href="https://project-mili.bandcamp.com/">B</a>
        <a href="https://www.youtube.com/@ProjectMili">D</a>
        <a href="https://open.spotify.com/artist/0K05TDnN7xPwIHDOwD2YYs?si=twayvS7hQJ6TF6ywIKG37w">E</a>
    </div>
    <div style="text-align: center;">All rights reserved.</div>

</div>

<script src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript" src="/static/scripts/lastfm.api.md5.js"></script>
<script type="text/javascript" src="/static/scripts/lastfm.api.js"></script>
<script src="/static/scripts/app.min.js"></script>

</body>
{% endblock %}