{% extends 'base.html' %}
{% block head %}
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Mag Mell</title>
    <link rel="icon" type="image/x-icon" href="./static/images/dest/Mili_Logo.ico">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/app.min.css">
</head>
{% endblock %}
{% block content %}
<body>
<div class="header">
    <div class="header__container">
        <ul class="header__ul">
            <li class="header__li"><a href="index.html">Главная</a></li>
            <li class="header__li"><a href="blog.html">Блог</a></li>
            <li class="header__li"><a href="works.html" class="active">Альбомы</a></li>
            <li class="header__li"><a href="lyrics.html">Поиск песни</a></li>
            {% include 'AuthButton.html' %}
        </ul>
        <img class="header__menu-btn" src="/static/images/dest/menu.svg" alt="menu">
        <div class="header__menu">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="blog.html">Блог</a></li>
                <li><a href="works.html" class="active">Альбомы</a></li>
                <li><a href="lyrics.html">Поиск песни</a></li>
            </ul>
            <img class="close-btn" src="/static/images/dest/close.svg" alt="close">
        </div>
    </div>
</div>
<div class="key-ing wrap-2">
    <h1>Mag Mell</h1>
    <p class="key-ing__text">"Mag Mell" - дебютный альбом японской музыкальной группы Mili, предоставляющий удивительное путешествие в мир мелодичной электроники и фантазийных звуков.
        Впервые выпущенный в 2012 году, альбом сочетает в себе различные стили, от поп-музыки до классики, чтобы создать захватывающую мелодичность и эмоциональную глубину,
        создавая уникальное звуковое пространство полное чарующих мелодий. </p>
    <div class="thumb-wrap">
        <iframe class="video" src="https://www.youtube.com/embed/XUGtszs-85o?si=Wva40K8YbEFfirAs" title="YouTube video player1" ></iframe>
    </div>
    <div class="thumb-wrap">
        <iframe class="band-player" src="https://bandcamp.com/EmbeddedPlayer/album=1993589480/size=large/bgcol=ffffff/linkcol=63b2cc/artwork=none/transparent=true/" >
            </iframe>
    </div>

</div>
<div class="footer wrap-1">
    <div class="footer__social">
        <a href="https://www.last.fm/ru/music/Mili">A</a>
        <a href="https://project-mili.bandcamp.com/">B</a>
        <a href="https://www.youtube.com/@ProjectMili">D</a>
        <a href="https://open.spotify.com/artist/0K05TDnN7xPwIHDOwD2YYs?si=twayvS7hQJ6TF6ywIKG37w">E</a>
    </div>
    <div style="text-align: center;">All rights reserved.</div>
</div>

<script src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript" src="/static/scripts/lastfm.api.md5.js"></script>
<script type="text/javascript" src="/static/scripts/lastfm.api.js"></script>
<script src="/static/scripts/app.min.js"></script>

</body>
{% endblock %}