{% extends 'base.html' %}
{% block head %}
<head>
    <title>Pyrcone 2023</title>
    <link rel="icon" type="image/x-icon" href="./static/images/dest/Mili_Logo.ico">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/app.min.css">
</head>
{% endblock %}
{% block content %}
<body>
<div class="header">
    <div class="header__container">
        <ul class="header__ul">
            <li class="header__li"><a href="index.html">Главная</a></li>
            <li class="header__li"><a href="blog.html" class="active">Блог</a></li>
            <li class="header__li"><a href="works.html">Альбомы</a></li>
            <li class="header__li"><a href="lyrics.html">Поиск песни</a></li>
            {% include 'AuthButton.html' %}
        </ul>
        <img class="header__menu-btn" src="/static/images/dest/menu.svg" alt="menu">
        <div class="header__menu">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="blog.html" class="active">Блог</a></li>
                <li><a href="works.html">Альбомы</a></li>
                <li><a href="lyrics.html">Поиск песни</a></li>
                {% include 'AuthButtonForMenu.html' %}
            </ul>
            <img class="close-btn" src="/static/images/dest/close.svg" alt="close">
        </div>
    </div>
</div>
    <div class="work-1 wrap-2">
        <h1>Pyrcone 2021</h1>
        <p class="work-1__text">"Многожанровый фан съезд Pyrkon" или просто "Pyrcon" -
            это польский съезд фанатов, который проводится ежегодно в Познани в первые выходные после весеннего равноденствия и посвящен интеграции фэндома научной
            фантастики и продвижению научно-фантастической/фантастической литературы, комиксов, фильмов, телевидения, видеоигр, RPG, LARP, настольных игры,
            коллекционных карточных игр и не только.
            Pyrkon — крупнейшее мероприятие такого рода в Польше и одно из крупнейших в Европе (в 2020 году было более 55 тысяч участников).
        </p>
        <img class="first__img" src="/static/images/dest/pyrcone-performance.jpg" alt="design-1">
        <h2>Фан встреча</h2>
        <p class="work-1__text">
            После прошедшего концерта состоялись встречи с фанатами, на которых сняли не мало фото. Также у Mili был свой стенд с мерчем
            <br>
        </p>
        <img src="/static/images/dest/greet-and-meet.jfif" alt="greet-and-meet">
    </div>
    <div class="footer wrap-1">
        <div class="footer__social">
            <a href="https://www.last.fm/ru/music/Mili">A</a>
            <a href="https://project-mili.bandcamp.com/">B</a>
            <a href="https://www.youtube.com/@ProjectMili">D</a>
            <a href="https://open.spotify.com/artist/0K05TDnN7xPwIHDOwD2YYs?si=twayvS7hQJ6TF6ywIKG37w">E</a>
        </div>
        <div style="text-align: center;">All rights reserved.</div>
    </div>

    <script src="https://apis.google.com/js/api.js"></script>
    <script type="text/javascript" src="/static/scripts/lastfm.api.md5.js"></script>
    <script type="text/javascript" src="/static/scripts/lastfm.api.js"></script>
    <script src="/static/scripts/app.min.js"></script>
</body>
{% endblock %}