{% extends 'base.html' %}
{% block head %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Логин</title>
    <link rel="icon" type="image/x-icon" href="/images/dest/Mili_Logo.ico">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./css/app.min.css">
</head>
{% endblock %}
{% block content %}
<h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Залогиниться</button>
</form>
</h2>
{% endblock %}